* text=auto eol=lf

*.js  text eol=lf
*.ts  text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.md  text eol=lf
*.json text eol=lf

# Imágenes y binarios
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.svg binary
